apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-datasource
  namespace: logging  # Change if needed
  labels:
    grafana_datasource: "1"  # This is the key
data:
  loki-datasource.yaml: |
    apiVersion: 1
    datasources:
    - name: Loki
      type: loki
      access: proxy
      url: https://loki.mspaydemo.com
      isDefault: true

